/venv
/documentacion
/old
/temp_output
/output
test_os.py
resultados.csv
resultados.html
.gitignore
depurados.txt
exchange.csv
proxies_list.txt
stocks_prev.csv
analyst_00.py
conv_sql_prime.py
OHLCV_getter.py